<!DOCTYPE html>
<html>
    <head>
        <title>Flash Cards</title>
        <!-- We've provided some styles for you, aren't we nice? -->
        <link rel="stylesheet" type="text/css" href="css/reset.css" />
        <link rel="stylesheet" type="text/css" href="css/style.css" />
    </head>
    <body ng-app="Homework">
    <script src="js/lib/angular.js"></script>
    <script src="js/app.js"></script>
    <script src="js/factories/homework.factory.js"></script>
    
      <a href="/">Home</a>
      <a href="/about.html">About</a>

      <div ng-controller="MainController" >
        <div class="flash-card" ng-repeat="homework in homeworks">
            <ul class="flash-card-answers" ng-click="selected(homework)">
                  <h1>{{ homework.assignment }}</h1>
            </ul>

            <div class="answer-feedback" ng-show="homework.select">
              <ul>url: <a href="{{homework.url}}">{{homework.url}}</a></ul>
              <ul>status: {{ homework.status }}</ul>
            </div>
        </div>
      </div>
  </body>
</html>
