<!DOCTYPE html>
<html>
    <head>
        <title>Flash Cards</title>
        <!-- We've provided some styles for you, aren't we nice? -->
        <link rel="stylesheet" type="text/css" href="reset.css" />
        <link rel="stylesheet" type="text/css" href="style.css" />
    </head>
    <body>
    <script src="angular.js"></script>
    <script src="app.js"></script>
    <div ng-app="FlashCards" ng-controller="MainController">
      <div class="flash-card" ng-repeat="flashCard in flashCards | orderBy:'question'" ng-controller="FlashcardController">
          <h1>{{flashCard.question | uppercase}}</h1>
          <ul class="flash-card-answers">
              <li class="flash-card-answer" ng-click="answerQuestion(answer)" ng-repeat="answer in flashCard.answers">
              {{answer.text}}
              </li>
          </ul>
          <h2 class="answer-feedback" ng-class="{correct:answeredCorrect,incorrect:!answeredCorrect}" ng-show="showAnswered">
              <span ng-show="answeredCorrect">Yeah, you got it right!</span>
              <span ng-show="!answeredCorrect">Nope, you got it wrong.</span>
          </h2>
      </div>
    </div>
    </body>
</html>
